{{ define "main" }}
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Technology Solutions, Human Processes</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Multiplying human potential through the power of technology.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/products"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">See Products</button></a>
        <a href="/services"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Custom Solutions</button></a>
      </div>
    </div>
  </div>
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
{{ end }}
